$small: 300px;
$medium: 900px;
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 10rem;
    margin-bottom: 30px;
    @media screen and (min-width: $small) and (max-width: $medium) {
      padding: 1rem;
    }
  
    &.light {
      background-color: #fff;
    }
  
    &.dark {
      background-color: #333;
      color: #fff;
  
      .header-contact a {
        color: #fff;
      }
    }
  
    .header-logo img {
      height: 40px;
    }
  
    .header-contact {
      display: flex;
    //   flex-direction: column;
      align-items: flex-end;
  
      span {
        font-size: 0.875rem;
        @media screen and (min-width: $small) and (max-width: $medium) {
          display: none;
        }
      }
  
      a {
        font-size: 1rem;
        text-decoration: none;
        font-weight: bold;
        padding-left: 15px;
      }
    }
  }
  